* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .login {
    height: 100%;
    background-color: #261974;
} */ 
.main {
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
    min-width: 600px;
    max-width:fit-content;
}
.login h1 {
    font-size: 4rem;
    font-weight: 600;
}
.inp {
    padding-left: 20px;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.37);
}
/* select .form-check {
    width:376px;
} */
img {
    object-fit: cover;
}
.btn {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: #261974;
    color: white;
}
.btn:hover {
    opacity: 0.7;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.btn-floating{
    border: none;
}
.btn-floating:hover {
    cursor: pointer;
    opacity: 0.7;
}
.facebook {
    font-size: 2.5rem;
    color: darkblue;
    background-color: white;
    
}
.google {
    font-size: 2.5rem;
    color: rgb(135, 4, 21);
    background-color: white;
}

a:hover {
    color: rgb(244, 72, 72);
    cursor: pointer;

}
@media (max-width:992px) {
    .inp{
        width: 60%;
        margin: auto;
    }
    .form-check {
       display:inline-block;
    }
    

} 