.container {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
}
.block-1 {
    display: flex;
    height: 20%;
    justify-content: space-around;
}
.block-1-1 {
    width: 25%;
    background-color: rgb(242, 241, 235);
    border: solid 1px rgba(235, 242, 236, 0.963);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(215, 210, 210, 0.55);
    -webkit-box-shadow: 2px 4px 2px 0px rgba(222, 208, 208, 0.55);
    -moz-box-shadow: 4px 4px 2px 0px rgba(235, 225, 225, 0.55);
}
.block-1-2 {
    width: 25%;
    background-color: rgb(236, 211, 108);
    border: solid 1px rgb(240, 241, 233);
    border-radius: 10px;
    box-shadow: 4px 4px 16px 0px rgba(241, 234, 234, 0.55);
    -webkit-box-shadow: 4px 4px 16px 0px rgba(231, 217, 217, 0.55);
    -moz-box-shadow: 4px 4px 16px 0px rgba(206, 182, 182, 0.55);
}
.block-2 {
    display: flex;
    height: 70%;
    width: 95%;
    margin: auto;
    background-color: bisque;
    border: solid 1px bisque;
    border-radius: 30px;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.55);
}
@media(max-width : 768px) {
    .container {
        height:100vh;
    }
}